.bottomInformationUI {
    background-color: rgba(255, 192, 203, 0) ;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 10vh;
}

.playerInformation {
    background-color: rgba(139, 0, 0, 0.5);
    position: fixed;
    width: 25%;
    height: 100%;
    font-weight: bold;
    text-shadow: 1px 1px 2px pink;
}

.playerInformation p {
    font-size: 25%;
}

.verticalSeparation {
    background-color: rgba(0, 0, 139, 0.5);
    position: fixed;
    margin-left: 25%;
    width: 1%;
    height: 100%;
}

.terminal { 
    margin-left: 26%;
    width: 50%;
    height: 100%;
}

.terminal input {
    width: 60%;
    height: 50%;
}

.terminal button {
    right: 0;
    width: 30%;
    height: 50%;
}