.bottomInformationUI {
    background-color: rgba(255, 192, 203, 0) ;
    margin-left: 7.5%;
    position: fixed;
    bottom: 0;
    width: 35vw;
    height: 80vh;
}

.terminal { 
    position: fixed;
    bottom: 0%;
    width: 30%;
    height: 2.5%;
    margin-bottom: 2%;
}

.terminal input {
    width: 65%;
    height: 100%;
    font-size: 2vh;
}

.terminal button {
    right: 0;
    width: 15%;
    height: 100%;
    font-size: 2vh;
}

.chatBox {
    background-color: rgba(50, 50, 50, 0.25) ;
    margin-bottom: 5.5%;
    position: fixed;
    bottom: 0%;
    width: 30%;
    max-height: 10%;
    overflow-y: hidden;
    direction: rtl;
}

.messageClass {
    margin-left: 5%;
    margin-bottom: 2%;
    position: relative;
    bottom: 0;
    left: 0;
    width: 90%;
    word-wrap:break-word;
    direction:ltr;
    
}

.messageDisplayButton {
    background-color: #777;
    color: white;
    text-align: center;
    outline: none;
    right: 0;
    width: 1%;
    height: 100%;
    font-size: 2vh;
}

.active, .messageDisplayButton:hover {
    background-color: #555;
}


.collapsible {
    background-color: #777;
    color: white;
    position: fixed;
    cursor: pointer;
    width: 10vw;
    height: 5vh;
    bottom: 0;
    right: 0;
    text-align: center;
    outline: none;
    font-size: 15px;
}
  
.active, .collapsible:hover {
    background-color: #555;
}

.creatureInfo {
    background-color: rgba(50, 50, 50, 0.25) ;
    overflow: hidden;
    position: fixed;
    bottom: 5vh;
    right: 0;
    width: 20vw;
    height: 80vh;
    padding: 0 18px;
    display: none;
}