/* Left Side Item UI*/
.itemUI {
    background-color: rgba(255, 192, 203, 0.5);
    overflow: hidden;
    position: fixed;
    top: 20%;
    width: 12vh;
    height: 60vh;
    z-index: 1;
}

/* Item Table Setting*/
.itemUI table {
    width: 12vh;
    height: 60vh;
    border-collapse: collapse;
}

.itemUI tr {
    width: 100%;
    height: 10%;

}

.itemUI td {
    background-color: red;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-clip: content-box;
    
    width: 40%
}