.noSelect {
    /* no select */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

/* Left Side Item UI*/
.itemUI {
    background-color: rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: fixed;
    top: 20%;
    width: 12vh;
    height: 60vh;
    z-index: 1;
}

/* Item Table Setting*/
.itemUI table {
    width: 12vh;
    height: 60vh;
    border-collapse: collapse;
}

.itemUI tr {
    width: 100%;
    height: 10%;

}

.itemUI td {
    background-color: rgba(150, 150, 150, 0.5);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
    background-clip: content-box;

    width: 40%;
}

.itemUI img {
    display: block;
    width: 100%;
}

.bottom-right {
    position: absolute;
    bottom: 0vh;
    right: 15%;
    width: 100%;
    height: 40%;
    line-height: 2vh;
    font-size: 1vh;
    text-align: right;
    -webkit-text-size-adjust: none;
    overflow: none;
}