/* Loading Map Div*/
.loadingMap {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1; /* Only Display When Loading The Map*/
}

/* Loader Animation*/
.loadingAnimation {
    border: 2vw solid #f3f3f3;
    border-radius: 50%;
    border-top: 2vw solid #3498db;
    width: 10vw;
    height: 10vw;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}