/* Top Left UI (Player Stat)*/
.playerStat {
    background-color: rgba(255, 192, 203, 0);
    overflow: hidden;
    position: fixed;
    
    top: 0;
    left: 0;

    width: 60vh;
    height: 15vh;
    z-index: 1;
}

/* Active Equipment Slot*/
.playerStat .activeEquipment {
    background-color: rgba(233, 150, 122, 0);
    position: fixed;
    background-clip: content-box;
    top: 1.5vh;
    padding-left: 3vh;
    padding-right: 3vh;

    width: 12vh;
    height: 12vh;
}

/* Active Equipment Image*/
.activeEquipment img {
    width: 100%;
    height: 100%;
}

.playerStat #playerHealthBar {
    background-color: red;
    position: relative;
    margin-left: 30%;
    top: 10%;
    
    width: 70%;
    height: 25%;
}

#playerHelathInfo {
    width: 100%;
    height: 25%;
    margin-left: 30%;
    top: 10%;
    font-size: 2.5vh;
    line-height: 2.5vh;
}